<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home Equity Loan Default Prediction</title>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container" style="background-color:rgb(214, 179, 235)!important; color:purple">
            <br>
            <div class="row">   
                <div class="col-md-offset-2 col-md-8 ">
                    <div class="row">
                        <div class="col-md-3">    
                            <br>          
                            <img style="margin-left:200px;" class=" rounded-circle mx-auto" src="{{ url_for('static', filename='images/img2.jpg')}}" alt="image" >	
                        </div>
                        <br><br>
                        <div class="row" style="font-size:large;">                                 
                        </div>                 
                        <div class="row" style="font-size:xx-large;margin-left:50px;">
                            <br>
                            Home Equity Loan PD Machine Learning Model     
                        </div>                 
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 ">
                    <form method="POST" action="/predictonesample"  role="form", name="petform">
                        <div class="form-group">
                            <label style="margin-left:10px;">Number of delinquent credit lines</label>
                            <!-- <input type="number" class="form-control" id="input1" name="delinquentcreditlinescount" placeholder=""  value="" step="0.00000001" min="0" max="100"> -->
                            <input type="number" class="form-control" id="input1" name="delinquentcreditlinescount" placeholder=""  value="{{form_data.delinquentcreditlinescount}}" step="0.00000001" min="0" max="100">
                            <label style="margin-left:10px;">Number of major derogatory reports</label>
                            <input type="number" class="form-control" id="input2" name="derogatoryreportscount" placeholder=""  value="{{form_data.derogatoryreportscount}}" step="0.00000001" min="0" max="100">
                            <label style="margin-left:10px;">Number of recent credit inquiries</label>
                            <input type="number" class="form-control" id="input3" name="recentcreditinquirycount" placeholder=""  value="{{form_data.recentcreditinquirycount}}" step="0.00000001" min="0" max="100">
                            <label style="margin-left:10px;">Debt-to-income ratio</label>
                            <input type="number" class="form-control" id="input4" name="debttoincomeratio" placeholder=""  value="{{form_data.debttoincomeratio}}" step="0.00000001" min="0" max="1000">
                            <label style="margin-left:10px;">Number of credit lines</label>
                            <input type="number" class="form-control" id="input5" name="creditlinecount" placeholder=""  value="{{form_data.creditlinecount}}" step="0.00000001" min="0" max="1000">
                            <label style="margin-left:10px;">Value of current property</label>
                            <input type="number" class="form-control" id="input6" name="currentpropertyvalue" placeholder=""  value="{{form_data.currentpropertyvalue}}" step="0.00000001" min="0" max="10000000">
                            <label style="margin-left:10px;">Amount due on existing mortgage</label>
                            <input type="number" class="form-control" id="input7" name="mortgageamountdue" placeholder=""  value="{{form_data.mortgageamountdue}}" step="0.00000001" min="0" max="100000000">
                            <label style="margin-left:10px;">Years at present job</label>
                            <input type="number" class="form-control" id="input8" name="yearsatpresentjob" placeholder=""  value="{{form_data.yearsatpresentjob}}" step="0.00000001" min="0" max="100">
                            <br>
                            <!-- <select name="Occupations" size="5" multiple> -->
                            <label style="margin-left:10px;">Occupational categories</label>
                            <select name="occupations" >
                                <option disabled selected value> -- select an option -- </option>
                                <option value="Sales" {% if form_data.occupations == "Sales" %} selected {% endif %}> Sales </option>
                                <option value="ProfExe" {% if form_data.occupations == "ProfExe" %} selected {% endif %}> ProfExe </option>
                                <option value="Manager" {% if form_data.occupations == "Manager" %} selected {% endif %}> Manager </option>
                                <option value="Other" {% if form_data.occupations == "Other" %} selected {% endif %}> Other </option>
                                <option value="Self" {% if form_data.occupations == "Self" %} selected {% endif %}> Self </option>                              
                            </select>
                             
                            <label style="margin-left:50px;" >Apply Loan Reason</label>                            
                            <select name="applyloanreasons" >
                                <option disabled selected value> -- select an option -- </option>
                                <option value="Debt Consolidation" {% if form_data.applyloanreasons == "Debt Consolidation" %} selected {% endif %}> Debt Consolidation </option>
                                <option value="Home Improvement" {% if form_data.applyloanreasons == "Home Improvement" %} selected {% endif %}> Home Improvement </option>
                             </select>
                        </div>
                        <br>
                        <button style="margin-left:10px;" id="predict-btn" type="submit" class="btn btn-default">Predict</button>
                        <label style="margin-left:50px; color:rgb(23, 0, 128)"> Prediction Result: </label>
                        <label style="margin-left:25px; color:rgb(23, 44, 235)" id="result"> {{prediction}}  </label>
                        <label style="margin-left:25px; color:#fa0828" id="msg"> {{msg}}  </label>
                        <br> <br>
                    
                    </form>  
                    
                </div>
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    </body>

</html>
