<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home Equity Loan Default Prediction</title>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Home Equity Loan PD Machine Learning Model</h1>
                <p>Enter your data below!</p>
            </div> -->
        <div class="container" style="background-color:rgb(214, 179, 235)!important; color:purple">
            <!-- <div>
                <br><br><br><br>
                <img class=" rounded-circle mx-auto" src="{{ url_for('static', filename='image\img2.png') }}" alt="image" >	
            </div> -->
            <div class="jumbotron" style="text-align: center">
                <h2> Welcom to Home Equity Loan PD Machine Learning Model </h1>                
            </div> 
    
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/predictonesample"  role="form", name="petform">
                        <div class="form-group">
                            <label for="">Number of delinquent credit lines</label>
                            <input type="number" class="form-control" id="input1" name="delinquentcreditlinescount" placeholder=""  value="" min="0" max="100">
                            <label for="">Number of major derogatory reports</label>
                            <input type="number" class="form-control" id="input2" name="derogatoryreportscount" placeholder=""  value="" min="0" max="100">
                            <label for="">Number of recent credit inquiries</label>
                            <input type="number" class="form-control" id="input3" name="recentcreditinquirycount" placeholder=""  value="" min="0" max="100">
                            <label for="">Debt-to-income ratio</label>
                            <input type="number" class="form-control" id="input4" name="debttoincomeratio" placeholder=""  value="" min="0" max="1000">
                            <label for="">Number of credit lines</label>
                            <input type="number" class="form-control" id="input5" name="creditlinecount" placeholder=""  value="" min="0" max="1000">
                            <label for="">Value of current property</label>
                            <input type="number" class="form-control" id="input6" name="currentpropertyvalue" placeholder=""  value="" min="0" max="10000000">
                            <label for="">Amount due on existing mortgage</label>
                            <input type="number" class="form-control" id="input7" name="mortgageamountdue" placeholder=""  value="" min="0" max="100000000">
                            <label for="">Years at present job</label>
                            <input type="number" class="form-control" id="input8" name="yearsatpresentjob" placeholder=""  value="" min="0" max="100">
                            <br>
                            <!-- <select name="Occupations" size="5" multiple> -->
                            <label for="">Occupational categories</label>
                            <select name="Occupations" >
                                <option value="Sales"> Sales </option>
                                <option value="ProfExe"> ProfExe </option>
                                <option value="Manager"> Manager </option>
                                <!-- <option value="Office"> Office </option>   -->
                                <!-- <option value="Other" selected> Other </option> -->
                                <option value="Other" > Other </option> -
                                <option value="Self"> Self </option>                                
                            </select>
                             
                            <label for="">REASON</label>
                            <select name="ApplyLoanReasons" >
                                <option value="Debt Consolidation"> Debt Consolidation </option>
                                <option value="Home Improvement"> Home Improvement </option>
                             </select>
                        </div>
                        <!-- <input type="submit" value="submit" id="input1" class="btn btn-default modelSubmit"> --> 
                        <button id="predict-btn" type="submit" class="btn btn-default">Predict</button>
                        <br><br>
                        <label> Prediction Result: </label>
                        <label id="result"> {{prediction}}  </label>
                    </form>
                </div>
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
        <!-- <script src="../static/js/app.js"></script> -->
    </body>

</html>
